*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;
    background-image: url("bimage.jpg");
    background-size: 1vh;
}
header
{
    position: sticky;
    top: 0;
    z-index: 2;
    height: 70px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .3);
    transition: background-color 0.4s ease-in-out;
    background-color: #e3e3e3;
    font-family: 'Lemon', serif;
}
header nav ul h3
{
    color: #000;
    transition: color 0.4s ease-in-out;
}

.navbar
{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
}

.arr
{
    position: relative;
    height: 50px;
    width: 45px;
    border-radius: 20%;
    margin: 5px;
    transition: 0.5s ease;
    cursor:pointer;
}
.arr:hover
{
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.342);
}
.arr div
{
    position: absolute;
    height: 20px;
    width: 20px;
    border-top: 5px solid #202020;
    border-left: 5px solid #202020;
    transform: rotate(45deg);
    left: 12px;
    top: 19px;
}
.back
{
    transform: rotate(-90deg);
}
.navbar ul
{
    text-align: center;
    justify-content: center;
}
h1
{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    z-index: 5;
}
#sec1 h1
{
    color: #000;
    font-family: 'Lora', serif;
    border-bottom: 5px solid #fff;
    margin-bottom: 30px;
}
#sec1 .mtop
{
    margin-top: 100px;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
}
.container2
{
    position: relative;
    min-height: 100vh;
}
.container2 h1
{
    font-size: 40px;
    padding: 15px;
    color: #333;
    text-align: center;
    text-transform: capitalize;
}
.container2 .image-container
{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 10px;
}
.image-container > .image
{
    height: 400px;
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 1);
}
.container2 .image-container .image img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}
.container2 .image-container .image:hover img
{
    transform: scale(1.1);
}
.container2 .popup-image
{
    position: fixed;
    top: 0; left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}
.container2 .popup-image span
{
    position: absolute;
    top: 0; right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}
.container2 .popup-image img
{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}
@media (max-width:770px)
{
    .container2 .popup-image img
    {
        width: 95%;
    }
}